body {
    background-color: #7b97ea;
}

.TransferInternal,
.TransferExternal {
    display: flex;
    background-color: #f1f1f1;
    flex-direction: column;
    height: 100vh;
}

.headerDiv {
    margin-top: 5%;
}

.headerDivTransaction {
    margin-top: 8%;
}

.PageHeader {
    background-color: #d0cece;
    margin-top: 8%;
    height: 10%;
    text-align: center;
}
