.TransferInternal,
.TransferExternal {
    display: flex;
    background-color: #f1f1f1;
    flex-direction: column;
    height: 100vh;
}
.Transfer-InternalPage,
.Transfer-ExternalPage {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.headerDiv {
    margin-top: 5%;
}

.headerDivTransaction {
    margin-top: 8%;
}

.PageHeader {
    background-color: #d0cece;
    margin-top: 8%;
    height: 10%;
    text-align: center;
}
