.EditProfile {
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 100vh;
    background-color: #f1f1f1;
}
.EditProfile .header-editprofile {
    font-size: 2.5em;
    margin-top: 25px;
}
.EditProfile .form {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
}
.EditProfile .form-control {
    display: flex;
    justify-content: center;
}
.EditProfile .Logo {
    margin-bottom: 1.5em;
}
.EditProfile input {
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}
.EditProfile .header {
    font-size: 1.5em;
}
.EditProfile .footer {
    margin: 5px;
    color: #d3d3d3;
}
.EditProfile .footer a {
    color: white;
}
.EditProfile .editprofile-btn {
    margin-top: 10px;
    margin-bottom: 10px;
}
.EditProfile .error {
}
