.closeAccount {
    display: flex;
    background-color: #f1f1f1;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}
.closeAccount .closeacct {
    text-align: center;
    flex-direction: column;
    float: inherit;
    margin-top: 15px;
    margin: auto;
}
.closeAccount .closeaccount-nextBtn {
    text-align: center;
    margin-top: 25px;
}
.closeAccount .closeaccount-types {
    margin-bottom: 250px;
}
.closeAccount #closeacct-greeting {
    font-size: 3em;
    margin: 10px;
    text-align: center;
}
.closeAccount #closeacct-header {
    font-size: 3;
    margin: 10px;
    text-align: center;
}
.closeAccount #closeacct-option {
    font-size: 1.5em;
    margin-bottom: 25px;
}
