.closeAccount {
    display: flex;
    background-color: #f1f1f1;
    flex-direction: column;
    height: 100vh;
}
.closeacct {
    text-align: center;
    flex-direction: column;
    float: inherit;
    margin-top: 15px;
    margin: auto;
}
.closeaccount-nextBtn {
    text-align: center;
    margin-top: 25px;
}
.closeaccount-types {
    margin-bottom: 250px;
}
#closeacct-greeting {
    font-size: 3em;
    margin: 10px;
    text-align: center;
}
#closeacct-option {
    font-size: 1.5em;
    margin-bottom: 25px;
}
