.userdashboard {
    display: flex;
    background-color: #f1f1f1;
    flex-direction: column;
    height: 100vh;
}
.container-userdash {
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.box-userdb {
    margin: 8px;
    padding: 8px;
    width: 70vw;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1),
        -3px -3px 3px rgba(255, 255, 255, 0.5);
    transition: background-color 0.5s;
}
.box-userdb:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1),
        inset -3px -3px 3px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.greeting-userdash {
    margin: 15px;
    font-size: 2em;
}

.scrollbox-userdb {
    background-color: #f1f1f1;
    color: #3b3c3e;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 10px 7px 5px;
    height: 500px;
    overflow: auto;
    overflow-x: hidden;
}
#accounts-info {
    display: flex;
    border-collapse: collapse;
    flex-direction: column;
    align-items: baseline;
}

#personalaccount-userdb {
    background-color: #f1f1f1;
    font-size: 1.9em;
    margin-bottom: 25px;
}
#userdb-account-type {
    text-transform: capitalize;
    font-size: 1.75em;
    margin-bottom: -7.5px;
}
#userdb-account-balance {
    margin-left: auto;
    margin-top: -25px;
    font-size: 1.75em;
}
#userdb-account-number {
    font-size: 1em;
}
#userdb-bal {
    text-decoration: none;
    margin-left: auto;
    font-size: 1em;
    margin-top: -20px;
}
