body {
    background-color: #7b97ea;
}
.Account {
    margin: auto;
    height: 100vh;
    background-position: center;
    background-color: azure;
    width: 75%;
}

.acctTypeName {
    top: 15vh;
    left: 2vw;
    color: black;
}
.acctBalance {
    margin-top: 16vh;
    margin-left: 32vw;
    color: black;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.title {
    position: absolute;
    font-size: 1.65em;
    top: 30vh;
}
