.Account {
    display: flex;
    background-color: #f1f1f1;
    flex-direction: column;
    height: 100vh;
}

.acctTypeName {
    color: black;
    text-align: center;
    margin-top: 10px;
}
.acctBalance {
    margin-top: 5vh;
    color: black;
    text-align: center;
}
.account-table {
    display: flex;
    margin-top: 10px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#account-title {
    font-size: 1.75em;
    margin-top: 25px;
    text-align: center;
}
