.Account {
    display: flex;
    background-color: #f1f1f1;
    flex-direction: column;
    height: 100vh;
}

.Account .acctTypeName {
    color: black;
    text-align: center;
    margin-top: 10px;
}
.Account .acctBalance {
    margin-top: 5vh;
    color: black;
    text-align: center;
}
.Account .account-table {
    display: flex;
    margin-top: 10px;
}
.Account table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.Account td,
.Account th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.Account tr:nth-child(even) {
    background-color: #dddddd;
}

.Account #account-title {
    font-size: 1.75em;
    margin-top: 25px;
    text-align: center;
}
