#header-title {
    font-size: 2.75em;
    font-family: sans-serif;
    position: absolute;
    left: 123.5px;
    top: 0px;
    color: black;
    background-color: #4e78a0;
    width: 100%;
    height: 12.5%;
    padding-left: 2.5em;
    padding-top: 0.15em;
    margin: 0 -2.8em;
    color: white;
}
#header-logoff {
    font-size: 2em;
    position: absolute;
    right: 30px;
    top: 3px;
    color: white;
}

.navlist {
    position: absolute;
    right: 1px;
    top: 8vh;
    height: 2.25em;
    width: 100%;
    font-size: 1.5em;
    background-color: #dcdcdc;
}
#dropdown-basic {
    font-size: 1em;
    color: #6e87d2;
}
#navbar-logo {
    position: absolute;
    top: 1.5vh;
    left: 1.5vw;
}
