.usernavbar {
    background-color: #4169e1;
    width: 100vw;
}
.navlist {
    height: 2em;
    font-size: 1.5em;
    background-color: #dcdcdc;
}
.usernavbar.flexbox {
    flex-direction: column;
    align-items: center;
}
.Logo {
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    margin-top: -5px;
    margin-bottom: -5px;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}

#dropdown-basic {
    font-size: 1em;
    color: #6e87d2;
}
.selected {
    background-color: #4e75ec;
    color: white;
}
.selected #dropdown-basic,
.selected .nav-link {
    color: white;
}
#logout-usernavbar {
    display: flex;
    margin-right: 25px;
}
