.managerdashboard {
    display: flex;
    background-color: #f1f1f1;
    flex-direction: column;
    height: 100vh;
}

.account-table {
    display: flex;
    margin-top: 10px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.managerdashboard .statistics {
}
.managerdashboard #logout-managernavbar {
    margin-right: 15px;
}
