.BillPayEdit {
    display: flex;
    background-color: #f1f1f1;
    flex-direction: column;
    height: 100vh;
}
.container-billpayedit {
    position: absolute;
    color: black;
    left: 300px;
    top: 25vh;
}
#greeting-billpayedit {
    position: absolute;
    font-size: 2em;
    font-family: serif;
}
#greeting-billpayedit2 {
    position: absolute;
    top: 9vh;
    left: 1vw;
    font-size: 2em;
    font-family: serif;
}
​ .billpayedit {
    position: relative;
}
.billpayedit-temp {
    font-size: 1em;
}
