.BillPayEdit {
    display: flex;
    background-color: #f1f1f1;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}
.BillPayEdit .container-billpay {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 72.5%;
}
.BillPayEdit .greeting-billpayedit {
    display: flex;
    height: 17.5%;
    font-size: 3em;
    margin-top: 5px;
    justify-content: center;
}
.BillPayEdit .error {
    position: relative;
    color: red;
    max-width: 250px;
    max-height: 0px;
    top: -25px;
    left: 300px;
}
