body {
    background-color: #7b97ea;
}

.PageHeader {
    background-color: #d0cece;
    height: 15%;
}
.PageHeader2 {
    background-color: #d0cece;
}

h2,
h4 {
    font-family: 'Times New Roman', Times, serif;
}
.DepositCheck,
.DepositCheckConfirm,
.DepositCheckTransaction {
    display: flex;
    background-color: #f1f1f1;
    flex-direction: column;
    height: 100vh;
}
