.Login {
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 100vh;
}
.form1 {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
}
.Login input {
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Login .header {
    font-size: 1.5em;
}
.Login .footer {
    margin: 5px;
    color: #d3d3d3;
}
.Login .footer a {
    color: white;
}
.Login .footer1 {
    color: white;
    margin: 25px;
}
.Login .footer1 a {
    color: white;
}
.Login button {
    background: #7b97ea;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Login button:hover {
    background: #1c41b0;
}
