.contact {
    display: flex;
    background-color: #f1f1f1;
    flex-direction: column;
    height: 0;
}
.contact .contactpage {
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
}
.contact .contact-jumbotron {
    text-align: center;
    margin-top: 125px;
    line-height: normal;
}
.contact .contact-upper {
    width: 100%;
    height: 105px;
    margin-top: -50px;
    font-size: 1.5em;
    font-family: sans-serif;
}
.contact .contact-office-location {
    display: inline-block;
    font-size: 1.5em;
    font-family: sans-serif;
}
.contact .contact-phone {
    position: relative;
    bottom: 80px;
    left: 250px;
    font-size: 1.5em;
    display: inline-block;
    font-family: sans-serif;
    margin: 0;
    clear: inherit;
}
.contact .contact-email {
    position: relative;
    bottom: -3px;
    right: 0px;
    font-size: 1.5em;
    display: inline-block;
    font-family: sans-serif;
}
.contact .footer a {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 1.55em;
    margin-top: 50px;
    left: 49%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
}
.contact .footer a:hover {
    color: rgba(255, 255, 255, 0.5);
}
.contact #contactus-greeting {
    text-align: center;
    color: white;
    margin-top: 50px;
    font-size: 3em;
}
.contact .material-icons {
    font-size: 1.15em;
}
.contact #office-location-header {
    font-size: 1.5em;
    font-family: sans-serif;
}
.contact #contact-number-header {
    font-size: 1.5em;
    font-family: sans-serif;
}
.contact #contact-email-header {
    font-size: 1.5em;
    font-family: sans-serif;
}
