#greeting {
    position: relative;
    text-align: center;
    font-size: 3.5em;
    color: white;
}
h1 {
    position: relative;
    text-align: center;
    bottom: 125px;
    color: white;
}
#line1 {
    position: relative;
    text-align: center;
    bottom: 115px;
    font-size: 1.7em;
}
#line2 {
    position: relative;
    text-align: center;
    bottom: 115px;
    font-size: 1.7em;
}
#line3 {
    position: relative;
    text-align: center;
    bottom: 115px;
    font-size: 1.7em;
}
#jumbotron {
    position: absolute;
    top: 250px;
    bottom: 360px;
    text-align: center;
    width: 100%;
}
#office-location-header {
    position: relative;
    text-align: center;
    bottom: 100px;
    right: 250px;
    font-size: 1.75em;
    font-family: cursive;
}
.office-location {
    position: relative;
    text-align: center;
    bottom: 100px;
    right: 250px;
    font-size: 1.25em;
    font-family: cursive;
}
#contact-number-header {
    position: relative;
    text-align: center;
    bottom: 260px;
    left: 250px;
    font-size: 1.75em;
    font-family: cursive;
}
#contact-number {
    position: relative;
    text-align: center;
    bottom: 260px;
    left: 250px;
    font-size: 1.25em;
    font-family: cursive;
}
#contact-email-header {
    position: relative;
    text-align: center;
    bottom: 255px;
    left: 250px;
    font-size: 1.75em;
    font-family: cursive;
}
#contact-email {
    position: relative;
    text-align: center;
    bottom: 255px;
    left: 250px;
    font-size: 1.25em;
    font-family: cursive;
}
#backto-accounts {
    position: absolute;
    top: 350px;
    left: 862.5px;
    color: red;
}
#link-back {
    color: #fff;
    font-size: 1.23em;
}
