.Recovery {
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 100vh;
}
.Recovery .recovery-form {
    display: flex;
    flex-direction: column;
    margin-top: 25vh;
}
.Recovery .Logo {
    margin-bottom: 1.5em;
}
.Recovery input {
    color: black;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}
.Recovery .header {
    font-size: 1.5em;
}
.Recovery .footer {
    margin: 5px;
    color: #d3d3d3;
}
.Recovery .footer a {
    color: white;
}
.Recovery .Recovery-btn {
    background: #7b97ea;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Recovery button:hover {
    background: #1c41b0;
}
