.Register {
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 100vh;
}
.Register .form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Register .contain {
    margin-top: 7.5vh;
}
.Register .form-control {
    display: flex;
    justify-content: center;
    width: 300px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}
.Register.Logo {
    margin-bottom: 1.5em;
}
.Register .header {
    font-size: 1.5em;
}
.Register .footer {
    margin: 5px;
    color: #d3d3d3;
}
.Register .footer a {
    color: white;
}
.Register button {
    background: #7b97ea;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Register button:hover {
    background: #1c41b0;
}
.Register .error {
    position: relative;
    color: white;
    max-width: 275px;
    max-height: 0px;
    font-size: 0.86em;
    top: -43px;
    left: 325px;
}
.Register .register-btn {
    width: 300px;
}
