.BillPay,
.BillPayConfirm,
.BillPayTransaction {
    display: flex;
    background-color: #f1f1f1;
    flex-direction: column;
    height: 100vh;
}
.container-billpay {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 72.5%;
}
.greeting-billpay {
    display: flex;
    height: 15%;
    font-size: 3em;
}
.billpay-confirm-details {
    display: flex;
    flex-direction: column;
    margin-left: 775px;
    font-size: 2em;
    margin-top: 75px;
}
.billpay-buttons {
    display: flex;
    justify-content: center;
    margin-left: 750px;
    margin-top: 25px;
}
.billpay-headerDivTransaction {
    justify-content: flex-end;
    font-size: 1.25em;
    margin-bottom: 100px;
}
.billpay-transactionInfo {
    margin-left: 700px;
}
.billpay-transaction-buttons {
    margin-left: 1250px;
    margin-top: 25px;
}
.billpay-headerDiv {
    text-align: center;
    margin-top: 100px;
    font-size: 1.15em;
}
.BillPay .error {
    width: 250px;
    max-height: 20px;
}
#transfer-from {
    display: flex;
    font-size: 2em;
}
#transfer-to {
    display: flex;
    font-size: 2em;
}
#billpay-date {
    display: flex;
    font-size: 2em;
    margin-top: 25px;
}
#billpay-frequency {
    display: flex;
    font-size: 2em;
    margin-top: 20px;
}
#billpay-next {
    display: flex;
    margin-right: 200px;
}
#billpay-confirm-transfer {
    display: flex;
    justify-content: center;
    font-size: 3em;
    margin-top: -65px;
}
#billpayconfirm-detail {
    text-align: center;
    font-size: 1.5em;
    color: black;
    margin-top: 25px;
}
