body {
    background-color: #7b97ea;
}
.BillPay,
.BillPayConfirm,
.BillPayTransaction {
    display: flex;
    background-color: #f1f1f1;
    flex-direction: column;
    height: 100vh;
}
.container-billpay {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 55%;
}
.greeting-billpay {
    display: flex;
    height: 35%;
    font-size: 3.5em;
    font-family: monospace;
}
