body {
    background-color: #7b97ea;
}
.contain-billpay {
    width: 1900px;
}
.BillPay,
.BillPayConfirm,
.BillPayTransaction {
    margin: auto;
    height: 80vh;
    background-position: center;
    background-color: white;
    width: 75%;
    background: azure;
}
.headerDiv {
    margin-top: 5%;
}

.headerDivTransaction {
    margin-top: 8%;
}
.PageHeader {
    background-color: azure;
    margin-top: 8%;
    height: 10%;
    text-align: center;
}

h2,
h4 {
    font-family: 'Times New Roman', Times, serif;
}

.billpay {
    margin-left: 20%;
}

.inputDiv {
    position: relative;
    margin-right: 75%;
    top: 2vh;
}
.inputDiv2 {
    position: relative;
    top: 2vh;
}
.inputDiv3 {
    position: relative;
    top: 4vh;
}

.nextBtn {
    margin-top: 75px;
    margin-left: 55%;
}

.buttons {
    position: absolute;
    right: 25%;
    margin-top: 2.5%;
}
.details {
    position: relative;
    bottom: 7.5vh;
}
#billpay-header {
    position: relative;
    text-align: center;
    bottom: 35px;
    font-size: 2.25em;
}
