.BillPayCancel,
.BillPayCancelTransaction {
    display: flex;
    background-color: #f1f1f1;
    flex-direction: column;
    height: 100vh;
}
.container-billpaycancel {
    position: absolute;
    color: black;
    left: 300px;
    top: 25vh;
}
#greeting-billpaycancel {
    position: absolute;
    font-size: 2em;
    font-family: serif;
}
#greeting-billpaycancel2 {
    position: absolute;
    top: 9vh;
    left: 1vw;
    font-size: 2em;
    font-family: serif;
}
​ .billpaycancelBox {
    position: relative;
}
.billpaycancel-temp {
    font-size: 1em;
}
